.text{
        width: 100%;
        font-size: 26px;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.personalText {
        width: 100%;
        font-size: 22px;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}