.dashboardContainer {
  // justify-content: space-between;
  padding: 40px 15px 40px 15px;
  margin: 20px;

  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;

  .topInfo {
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    color: gray;
    margin-bottom: 20px;
  }

  .middleInfo {
    .bmi,
    .bw {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 5px;
      display: flex;
    }
    .bw{
      margin-bottom: 35px;
    }

    .icon {
      margin-left: 8px;
      font-size: 22px;
      // color: rgb(50, 167, 225);
      color: blueviolet;
    }
    .editIcon {
      margin-left: 8px;
      font-size: 22px;
      cursor: pointer;
      // color: rgb(50, 167, 225);
      color: blueviolet;
    }
  }

  .bottomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .amount {
      font-size: 18px;
      margin-bottom: 0px;
    }

    .desc {
      font-weight: 300;
      margin-top: 0px;
      font-size: 12px;
      color: gray;
    }

    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .itemTitle {
          font-size: 14px;
          color: gray;
        }

        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }

  img {
    height: 200px;
  }

  .title {
    width: 100%;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .upperHalf {
    display: flex;
    margin-bottom: 20px;

    .buttons {
      display: flex;
      width: 70%;
      justify-content: center;
      align-items: center;

      .button {
        margin-right: 20px;
        border-radius: 50%;
      }
    }
  }

  .Remaining {
    font-weight: 600;
    font-size: large;

    .Calories {
      font-size: 35px;
      // color: rgb(50, 167, 225);
      color: blueviolet;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .count {
    padding-top: 20px;
    font-size: 25px;
    display: flex;

    .countItem {
      .span {
        display: flex;
      }

      .vl {
        display: flex;
        border-left: 2px solid rgb(230, 227, 227);
        height: 100px;
      }
    }

    .vl {
      border-left: 2px solid rgb(230, 227, 227);
      height: 100px;
      // background-color: aqua;
      background-color: blueviolet;
    }
  }
}
